.about-us {
  margin-left: 8rem;
  display: flex;
  background-color: #ddd;
}

.about-us-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  box-sizing: border-box;
}

.about-us-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #555;
}

.small-underline {
  width: 9rem;
  height: 0.1rem;
  margin: 0 auto 1rem auto;
  background-color: #b85d1c;
}

.big-underline {
  width: 20rem;
  height: 0.1rem;
  background-color: #b85d1c;
}

.sub-heading {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #b85d1c;
}

.about-us-paragraph {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}

.about-us-btn {
  width: 15rem;
  padding: 0.7rem 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #b85d1c;
  background-color: transparent;
  border: 0.1rem solid #b85d1c;
  cursor: pointer;
  outline: none;
}

.btn-arrow {
  margin-left: 0.5rem;
  transition: margin-left 0.4s;
}

.about-us-btn:hover .btn-arrow {
  margin-left: 1.5rem;
}

.about-us-images {
  flex: 1 1;
  position: relative;
}

.image {
  width: 32rem;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  border: 0.2rem solid #b85d1c;
}

.image-1 {
  transform: translate(-20%, -90%);
}

.image-2 {
  transform: translate(-70%, -70%);
}

.image-3 {
  transform: translate(-50%, -50%);
}

.image-4 {
  transform: translate(-30%, -30%);
}

@media (max-width: 1200px) {
  .about-us {
    flex-direction: column;
    padding-bottom: 20rem;
  }

  .about-us-content {
    margin-bottom: 13rem;
  }

  .image {
    width: 25rem;
  }
}
@media (max-width: 500px) {
  .about-us {
    padding-bottom: 15rem;
  }

  .about-us-heading {
    font-size: 2.5rem;
    text-align: center;
  }

  .sub-heading {
    font-size: 2rem;
    text-align: center;
  }

  .about-us-content {
    padding: 5rem;
  }

  .image {
    width: 13rem;
  }
}
