.header {
  margin-left: 8rem;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url('/img/header-1.jpeg') center no-repeat;
  background-size: cover;
}

.brand {
  display: flex;
  cursor: pointer;
}

.hotel-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  color: #deaa86;
  letter-spacing: 0.2rem;
}

.banner {
  color: #ddd;
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 0;
  animation: anim 2s;
}

.banner-paragraph {
  font-size: 3.5rem;
  font-weight: 300;
  animation: anim 1.5s 0.5s backwards;
}

.banner-button {
  width: 21rem;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  color: #333;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 10rem;
  outline: none;
  background: linear-gradient(to right, gold, goldenrod);
  cursor: pointer;
  animation: anim 1s 1s backwards;
}

.banner-button:hover {
  background: linear-gradient(to left, gold, goldenrod);
}

.banner-button:active {
  transform: translateY(0.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .banner {
    text-align: center;
  }

  .banner-heading {
    font-size: 4.7rem;
  }

  .banner-paragraph {
    font-size: 2.6rem;
  }

  .banner-button {
    width: 16rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .banner {
    height: 100%;
    margin-top: -10rem;
  }

  .hotel-heading {
    font-size: 2rem;
    margin: auto 0;
  }

  .banner-heading {
    font-size: 3rem;
  }

  .banner-paragraph {
    font-size: 2rem;
  }
}
